body {
  max-width: 700px;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: black;
  color: lightsalmon;
}

#spiritAnimal {
  margin-top: auto;
  font-size: 24px;
  font-weight: bold;
}
